/* TTF Family */

@font-face {
    font-family: 'leaguegothic';
    font-style: normal;
    font-weight: 400;
    src: local('leaguegothic'),
         local('leaguegothic-condensed'),
         local('leaguegothic-condensed-regular'),
         url(ttf/leaguegothic-condensed-regular-webfont.woff) format('woff'),
         url(ttf/leaguegothic-condensed-regular-webfont.ttf) format('truetype'),
         url(ttf/leaguegothic-condensed-regular-webfont.eot) format('embedded-opentype');
}

@font-face {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    src: local('Chewy'),
         local('Chewy-regular'),
         url(ttf/Chewy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    src: local('Syncopate'),
         local('Syncopate-regular'),
         url(ttf/Syncopate-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Syncopate-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Syncopate-Bold'),
         local('Syncopate-bold'),
         url(ttf/Syncopate-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoSlab'),
         local('RobotoSlab-Regular'),
         url(ttf/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoSlab-Bold'),
         local('RobotoSlab-bold'),
         url(ttf/RobotoSlab-Bold.ttf) format('truetype');
}

/* Region for basic configuration */

body {
    background-color: #12272A;
    border: 0;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

ul,li {
    list-style-type: none;
    margin-bottom: 0;
}

h5 {
    margin-bottom: 0;
}

p {
    font-family: 'RobotoSlab';
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #dfdece;
    font-family: 'RobotoSlab';
}

/* Maquetacion */

nav {
    display: block;
    background-color: #12272A;
    float: left;
    width: 20%;
    border-left: 4px solid #091D1F;

    padding-top: 3em;
    text-align: center;
}

article {
    display: fixed;
    float: rigth;
    heigth: 70%;
    overflow: hidden;

    position: relative;
}

footer {
    clear: both;
    padding-top: 2em;
    color: #616161;
    background-color: #212121;
    padding-left: 2em;
    padding-right: 2em;
}

/* Cajas de la pagina WEB - Estatico */

.img_personal {
    max-width: 150px;
    position: center;
    margin: 0 auto;
}

.nombre {
    background: rgba(41, 129, 79, 0.6);
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 2em;
    text-align: center;
    z-index: 1;
    position: relative;
}

.frase {
    background-color: #12272A;
    padding-top: 3em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 3em;

    text-align: center;
    color: #dfdece;
}

.content {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #aadd9b;
    padding-bottom: 3em;
}

.content:nth-child(odd) {
    background-color: #dfdece;
}

.redes {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

.social_link {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.box_content {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;

    border-left: 4px solid #091D1F;
    margin-bottom: 1em;
}

.container-bar {
    margin: 100px auto;
    width: 500px;
    text-align: center;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/* Elementos de la pagina WEB - Unico */

/* Elementos Internos - Estatico */

/* Elementos de NAV */
.photo_personal {
    width: 100%;
    border: 4px solid #091D1F;
    border-radius: 100px;
}

.pais {
    margin-top: 0.5em;
}

/* Elementos de ARTICLE */

.nombre1 {
    font-family: 'Chewy';
    font-size: 10em;
}

.nombre2 {
    font-family: 'Syncopate-Bold';
    font-size: 6em;
    color: #014920;
}

.video_fondo {
    position: absolute;
    max-width: 100%;
    z-index: -1;
}

.social_icon {
    display: inline-block;
    max-width: 2em;
}

.social_description {
    display: inline-block;
    text-decoration: none;

    font-family: 'RobotoSlab';
    color: black;
    font-size: 1em;
}

.carac_perfil {
    display: inline-block;
    font-family: 'Syncopate-bold';
}

.carac_perfil:before {
    content: url(img/icon/license.svg);
    display: inline-block;
    width: 60px;
}

.content h1{
    font-family: 'syncopate';
    font-size: 2em;
}

.box_content h1 {
    font-size: 1em;
    margin-bottom: 0;
}

.box_content h2 {
    text-align: right;
    padding-right: 2em;
    margin: 0;

    font-family: 'Syncopate';
    font-size: 0.8em;
}

.box_content h3 {
    text-align: right;
    padding-right: 2em;
    margin: 0.5em;

    font-family: 'Syncopate';
    font-size: 0.6em;
    color: #014920;
}

.box_content h4 {
    padding-left: 2em;
}

.box_content p {
    margin-top: 0.5em;
    padding-left: 3em;
    padding-rigth: 3em;
}

.box_content ul {
    padding-left: 4em;
    padding-rigth: 4em;
}

.frase img {
    max-width: 3em;
}

.frase p {
    font-family: 'Chewy';
    font-size: 4em;
}

.link_curriculum ul {
    padding-right: 1em;
    padding-left: 1em;
}

.link_curriculum ul li {
    margin-top: 1em;
}

.link {
    width:100%;
    background-color: #29814f;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.row_copy {
    text-align: center;
}

.row {
    display: inline-block;
}

.sitios_footer {
    display: inline-block;
    width: 20%;
}

.contenido_footer {
    display: inline-block;
    width: 70%;
}

.decoration_li {
    padding-right: 3em;
    padding-left: 3em;
}

.decoration_li li{
    list-style-type: disc;
}

.p10{
    width: 10%;
    background-color: #9B0000;
}

.p20{
    width: 20%;
    background-color: #C60000;
}

.p30{
    width: 30%;
    background-color: #FF4100;
}

.p40{
    width: 40%;
    background-color: #FF6C00;}

.p50{
    width: 50%;
    background-color: #FFB400;}

.p60{
    width: 60%;
    background-color: #F0FC00;}

.p70{
    width: 70%;
    background-color: #C6F500;}

.p80{
    width: 80%;
    background-color: #92EC00;}

.p90{
    width: 90%;
    background-color: #4DDE00;}

.p100{
    width: 100%;
    background-color: #00CC00;}

.habilidades {
    font-weight: 200;
}
